{% extends 'base.html' %}

{% block title %}
{{ user.username }}'s Page
{% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<div>{{msg}}</div>
{% endfor %}

<p> Username: {{ user['username'] }}</p>
<p> Email: {{ user['email'] }}</p>
<p> First Name: {{ user['first_name'] }}</p>
<p> Last Name: {{ user['last_name'] }}</p>

{% for feedback in user.feedbacks %}
<h3>{{feedback.title}}</h3>
<p>{{feedback.content}}</p>
<form action="/feedback/{{feedback.id}}/delete" method="POST">
  <button formaction="/feedback/{{feedback.id}}/update" formmethod="GET">Edit</button>
  <button>Delete</button>
</form>
{% endfor %}

<form action="/users/{{user.username}}/feedback/add">
  <button>Add More Feedback</button>
  <button formaction="/users/{{user.username}}/delete" formmethod="POST">Delete User</button>
</form>

{% endblock %}